<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8"
        http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <!-- 공통 CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.3df516c6.css') }}">
  
  {% block head_extra %}{% endblock %}
</head>
<body>
  <div id="root"></div>
  {% block body %}{% endblock %}

  <!-- 공통 JS -->
  <script src="{{ url_for('static', filename='js/main.95b9e9a9.js') }}"></script>
  <script src="{{ url_for('static', filename='js/453.80efc53e.chunk.js') }}"></script>

  {% block scripts %}{% endblock %}
</body>
</html>
