.back-button {
  padding: 0.3rem 0.6rem;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 1.2rem;
  transition: all 0.2s;
  font-size: 0.8rem;
  color: #495057;
  width: 120px;
  height: 40px;
}

.back-button:hover {
  background-color: #e9ecef;
  transform: translateX(-2px);
} 