.back-button {
  padding: 0.3rem 0.6rem;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 1.2rem;
  transition: all 0.2s;
  font-size: 0.8rem;
  color: #495057;
  width: 120px;
  height: 40px;
}

.back-button:hover {
  background-color: #e9ecef;
  transform: translateX(-2px);
}



body {
  overflow-y: overlay; /* 반드시 overlay 처리 */
}

/* WebKit 브라우저용 */
::-webkit-scrollbar {
  width: 10px; /* 스크롤바 너비 */
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #333333ad; 
}

::-webkit-scrollbar-thumb {
  background-color: #4CAF50; 
  border-radius: 4px;
}