html, body {
  overflow: hidden;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../image/image_with_more_transparency.png") center center / cover no-repeat fixed;
    overflow: hidden;
}
  
.login-form-box {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}
  
.login-form-box h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #333;
}
  
.logo {
    text-align: center;
    margin-bottom: 2rem;
}
  
.logo-image {
    width: 50px;
    height: 50px;
}
  
.input-group {
    margin-bottom: 1rem;
}
  
.input-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}
  
.login-button {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #8BC34A;
    color: #fff;
    font-weight: bold;
}
  
.register-button {
    width: 100%;
    padding: 0.8rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #EEEEEE;
    color: #333;
}
  
.login-button:hover {
    background-color: #7CB342;
}
  
.register-button:hover {
    background-color: #E0E0E0;
}
  
.error-message {
    color: #D32F2F;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}


.kakao-login-button {
  background-color: #FEE500;
  margin-top: 0.5rem;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.kakao-login-button:hover {
  background-color: #FFD700;
}

.kakao-login-button:disabled {
  background-color: #CCCCCC;
  cursor: not-allowed;
} 